<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- Replace YOUR_SERVER with your local SQL Server instance name -->
        <add name="THR.Properties.Settings.THRdbKiraEkran" connectionString="Data Source=YOUR_SERVER\\SQLEXPRESS;Initial Catalog=TinyHouseDatabase;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>